
//Mixins 

@import "../../../mixins/button.scss";


//Root

@import "../../../snippets/root.scss";

//Code 

@import "../../../snippets/classicBody.scss";
@import "../../../snippets/basicApp.scss";


.appContainer {
    flex: 0.84;
    display: flex;
}

   .formContainer {
       margin-left: 7%;
       flex: 0.8;
       display: flex;
       flex-direction: column;

       .heading {
           font-size: 3.125rem;
           font-weight: 600;
           padding-top: 2.5em;
           padding-bottom: 2.4em;
           margin: 0;
       }

       .inputsContainer {
           width: 100%;
           display: flex;
           justify-content: space-between;

           .left {
               width: 40%;

               input:last-child {
                  margin-top: 7.5em;
               }
           }

           .right {
               @extend .left;
           }

           input {
               width: 100%;
               height: 2em;
               font-size: 1rem;
               padding: 1.25em 0;
               outline: none;
               border: none;
               border-bottom: 2.2px solid $blackColor;
           }
       }

       .buttonContainer {
           margin-top: 7.65em;
           align-self: flex-end;
           margin-right: 4px;
           display: flex;

           button {
               @include button($primaryColor)
           }

           button:hover {
               opacity: 0.7;
           }

           .seeSecurity {
               color: $greyColorB;
               font-weight: 500;
               font-size: 0.9rem;
               margin-right: 1.7em;

               @import "../../../mixins/textDeco.scss";

               .underline {
                   @include underline($greyColorB);
               }
           }
    }
    
   }